
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  .content a{
    text-decoration: none;
    color: #631A1A;
  }
  .button img:hover{
      transform: scale(1.2)

  }

  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }




.user-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(241, 237, 237);
    width:80%;
   margin-left: 10%;
  
   border: solid 1px rgb(59, 19, 19);
}
.Proyects{
    background-color: #F5F5F5;
    padding-bottom: 4%;
    padding-top: 4.3rem;
    }
.user-container h2{
    font-size: 1.3rem;
    color: #631A1A;
}
.Proyects h1{
    padding-bottom: 1.2rem;
}

