nav {
    overflow: hidden;
    background-color: #DDD8D8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

nav a {
   font-size: 1.6rem;
    color: #000000;
    padding: 14px;
    text-decoration: none;
}
nav a:hover{
    background-color: #631A1A;
    color: #DDD8D8;
}